@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor-fundo: #1A1A1A;
    --cor-botão: #17A2B8;
    --cor-link-norm: #232323;
    --cor-link-used: #353535;
}

body{
    background-color: var(--cor-fundo);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 85%;
    background-color: transparent;
    margin: auto;
    padding: 20px;
}

a{
    text-decoration: none;
}

div.card{
    width: 320px;
    background-color: transparent;
    height: 30vh;
    margin-top: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
}

div.card:hover{
    box-shadow: inset 0px 0px 26px -11px black;
}

div.card > p > a{
    text-decoration: none;
    color: greenyellow;
}

div.card > p.link{
    margin-top: 20px;
    font-size: 2.1em;
    color: greenyellow;
}

div.card > p{
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
}