@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-color: #202020;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100%;
}

menu{
    background-color: black;
    height: 5vh;
    padding: 30px;
    background-image: url('../imagens/ts-logo-menu.png');    
    background-repeat: no-repeat;
    background-position: left left;
}

menu > p{
    text-align: right;
}

menu a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

a#home{
    color: darkblue;
}

menu a:hover{
    transition-duration: 0.5s;
    color: darkblue;
}

div.img-fundo{
    color: white;
    height: 82.5vh;
    background-color: #292929;
    background-image: url('../imagens/curso-de-ingles-thumb.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.img-fundo > h1{
    padding-top: 280px;
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}

div.info{
    background-color: #292929;
}

div.info > p{
    padding: 20px;
}

div.info > h1{
    text-align: center;
}

div.info strong{
    display: inline-flex;
    margin-left: 15px;
}

div.info-b{
    width: 250px;
    float: left;
}

div.info-b > h1{
    font-weight: normal;
    margin-top: 50px;
    font-size: 3em;
    text-align: center;
    color: darkblue;
}

div.info-b > p{
    margin-top: 30px;
    text-align: center;
    font-size: 2em;
}

div.apr{
    width: 100%;
    background-color: #393939;
    height: 90vh;
    background-image: url('../imagens/Captura\ de\ Tela\ \(7\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top top;
}

div.art{
    width: 350px;
    padding: 20px;  
    float: left;
}

div.art h1{
    color: white;
    font-weight: normal;
    padding-top: 130px;
}

p.dem{
    width: 100px;
    margin-bottom: 15px;
    display: inline-flex;
}

#logo{
    width: 400px;
}

.alert{
    padding: 20px;
    text-align: center;
    color: darkblue;
}

div.criticas{
    background-color: black;
    background-image: url('../imagens/criticas-fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top top;
}

div.criticas-b{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: inline-block;
}

div.criticas-b > p{
    font-size: 1.4em;
}

p.img img{
    width: 20%;
}

p.img{
    color: darkblue;
    padding-bottom: 25px;
}

div.reclame{
    background-color: #606060;
    color: white;
    text-align: center;
    padding: 50px;
}

div.reclame a{
    text-decoration: none;
    color: white;
}

div.reclame-b > a > p{
    border: 1px solid white;
    width: 200px;
    display: block;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    font-weight: bold;
}

div.reclame-b > a > p:hover{
    background-color: white;
    color: #606060;
    transition-duration: 0.5s;
}

div.reclame-b  > p{
    color: #202020;
}

div.redes-sociais > p{
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 1.3em;
}

div.redes-sociais a{
    color: white;
    text-decoration: none;
}

div.redes-sociais a:hover{
    text-decoration: underline;
}