@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../imagens/fundo\(computador\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

a#voltar{
    text-decoration: none;
    color: white;
    width: 80px;
    background-color: red;
}

a#voltar p{
    text-align: center;
    background-color: red;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    width: 80px;
    border-radius: 10px;
}

a#voltar p:hover{
    transition-duration: 0.5s;
    background-color: red;
    color: white;
}

div.box{
    margin-top: 20px;
    width: 95vw;
    margin: auto;
    height: 400px;
    background: url('../imagens/download.jpeg') no-repeat fixed;
    background-size: cover;
    border-radius: 10px;
    color: white;
}

div.feed a{
    text-decoration: none;
    margin: auto;
}

div.text{
    height: 390px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

div.videos{
    height: 390px;
    width: 680px;
    display: inline-block;
    background-color: #0CCDA3;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

p#dedicatoria{
    width: 255px;
}

div.video{
    height: 400px;
    width: 200px;
    background-image: linear-gradient(to top, blue, white);
    margin-left: 10px;
    display: inline-block;
    border-radius: 0px 10px;
    margin-bottom: 15px;
}

/*div#primeiro{
    background-image: linear-gradient(to bottom, #BB73E0 20%, #FF8DDB);
}*/

div#primeiro{
    background-image: url('../imagens/1.png');
}

/*div#segundo{
    background-image: linear-gradient(to bottom, #A3C9E2 20%, #9618F7);
}*/

div#segundo{
    background-image: url('../imagens/2.png');
}

div#terceiro{
    background-image: url('../imagens/Design\ sem\ nome\ \(7\).png');
}

div#quarto{
    background-image: linear-gradient(to bottom, #849B5C 20%, #BFFFC7);
}

div.video:hover{
    transition-duration: 0.4s;
    background-image: linear-gradient(to bottom, blue, white);
}

div.feed{
    margin-bottom: 30px;
    margin: auto;
}

div.fotos{
    height: 160px;
    width: 260px;
    background-color: gray;
    margin-left: 10px;
    display: inline-block;
    border-radius: 0px 10px;
    margin-bottom: 40px;
}

div#um{
    background-image: linear-gradient(to right, #0CCDA3 20%, #C1FCD3);
}

div#dois{
    background-image: linear-gradient(to right, #F6EFA7 20%, #FF0078);
}

div#tres{
    background-image: linear-gradient(to right, #E65758 20%, #771D32);
}

div.fy{
    margin: auto;
}

div.fy a{
    text-decoration: none;
}