@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #202020;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

menu{
    background-color: black;
    height: 5vh;
    padding: 30px;
    background-image: url('../imagens/ts-logo-menu.png');    
    background-repeat: no-repeat;
    background-position: left left;
}

menu > p{
    text-align: right;
}

menu a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

a#home{
    color: blueviolet;
}

menu a:hover{
    transition-duration: 0.5s;
    color: blueviolet;
}