*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    max-width: 1000px;
    min-width: 500px;
    border-radius: 10px;
}

div.card{
    height: 240px;
    width: 250px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    margin-left: 120px;
}

div.card p.img{
    text-align: center;
}

div.card img{
    margin-top: 20px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

div.card h3{
    text-align: center;
    color: white;
}

div.card h3::after{
    content: '';
    display: block;
    background-color: blueviolet;
    width: 250px;
    height: 2px;
    color: white;
}

div.card:hover{
    transition: 0.4s;
    border-radius: 1px solid white;
}

a.bt-compra{
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

a.bt-compra p{
    background-color: green;
    padding: 20px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
}

a.bt-compra p:hover{
    border: 1px solid green;
    background-color: white;
    color: green;
    transition: 0.4s;
}