@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}

div.nav{
    background-color: black;
    padding: 12px;
    
}

div.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div.header{
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, serif;
    text-align: center;
    padding: 20px;
    width: 100vw;
}

div.container{
    width: 800px;
    height: 100vh;
    margin: auto;
    max-width: 1000px;
    min-width: 600px;
}

div.card{
    height: 240px;
    width: 250px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    float: left;
}

div.card p.img{
    text-align: center;
}

div.card img{
    margin-top: 20px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

div.card h3{
    text-align: center;
    color: white;
}

div.card h3::after{
    content: '';
    display: block;
    background-color: blueviolet;
    width: 250px;
    height: 2px;
    color: white;
}

div.card:hover{
    transition: 0.4s;
    border-radius: 1px solid white;
}