@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 97%;
    margin: auto;
    background-color: #909090;
    padding: 25px;
    background: url('../imagens/fundo-cards.png') no-repeat center center;
    background-size: cover;
}

header > h1{
    font-size: 2.3em;
    text-align: center;
    color: white;
}

header > p{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    font-size: 1.3em;
}

header  a{
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

i#burguer{
    width: 100%;
    background-color: #222222;
    color: green;
    font-size: 2em;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: auto;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    width: 100%;
    display: block;
    background-color: #505050;
}

menu > ul{
    width: 100%;
    list-style-type: none;
    display: inline-flex;
}

menu > a{
    padding: 10px;
    text-decoration: none;
    background-color: #292929;
    color: green;
    text-align: center;
    font-weight: bold;
    display: inline-flex;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    transition-duration: 0.4s;
}

menu > a:hover{
    background-color: white;
    color: green;
    transform: translate(-2px, -2px);
}

menu > ul > li{
    background-color: green;
}

menu > ul > li > a:hover{
    background-color: rgb(193, 190, 190);
    color: #595959;
}

.used{
    background-color: green;
    color: white;
    font-weight: bold;
}

.used:hover{
    color: white;
    background-color: green;
}

div.container{
    width: 100vw;
    height: 100vh;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
}

div.card{
    height: 240px;
    width: 250px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
    float: left;
}

div.card p.img{
    text-align: center;
}

div.card img{
    margin-top: 20px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

div.card h3{
    text-align: center;
    color: white;
}

div.card h3::after{
    content: '';
    display: block;
    background-color: blueviolet;
    width: 250px;
    height: 2px;
    color: white;
}

@media screen and (max-width: 767px) /*teleefone*/ {
    
    header{
        margin: auto;
        background-image: linear-gradient(to top, #292929, #606060);
        padding: 25px;
        background: url('../imagens/fundo-cards.png') no-repeat center center;
        background-size: cover;
    }
    
    header > h1{
        font-size: 2.3em;
        text-align: center;
        color: white;
    }
    
    header > p{
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        color: white;
        font-size: 1.3em;
    }
    
    i#burguer{
        background-color: #222222;
        color: green;
        font-size: 2em;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        padding: 17px;
    }
    
    i#burguer:hover{
        background-color: white;
        color: black;
    }
    
    menu{
        display: block;
        background-color: #505050;
        margin: auto;
    }
    
    menu > ul{
        list-style-type: none;
        display: inline-flex;
    }
    
    menu > a{
        padding: 15px;
        text-decoration: none;
        background-color: #292929;
        color: green;
        text-align: center;
        font-weight: bold;
        display: inline-flex;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        transition-duration: 0.4s;
    }
    
    menu > a:hover{
        background-color: white;
        color: green;
        transform: translate(-2px, -2px);
    }
    
    menu > ul > li{
        background-color: green;
    }
    
    menu > ul > li > a:hover{
        background-color: rgb(193, 190, 190);
        color: #595959;
    }
    
    .used{
        background-color: green;
        color: white;
        font-weight: bold;
    }
    
    .used:hover{
        color: white;
        background-color: green;
    }

    div.container{
        margin-left: 3px;
        width: 70vw;
        max-width: 1000px;
        min-width: 600px;
   } 

   div.card{
    height: 240px;
    width: 250px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    float: left;
}

}