@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #292929;
    color: white;
}

main{
    width: 350px;
    background-color: #454545;
    margin: auto;
    margin-top: 20px;
    color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

label{
    color: white;
    font-weight: bold;
}

::placeholder{
    color: white;
}

input{
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
}

input#iemail{
    background-color: black;
    border-radius: 1px solid black;
    color: white;
}

#confirmar{
    width: 100%;
    padding: 5px;
    background-color: green;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    border: 0px solid transparent;
}

#confirmar:hover{
    padding: 7px;
    background-color: white;
    color: green;
    transition: 0.4s;
}

#cancelar{
    cursor: pointer;
    width: 100%;
    padding: 5px;
    background-color: red;
    font-weight: bold;
    font-size: 1.1em;
    border: 0px solid transparent;
}

#cancelar:hover{
    padding: 7px;
    background-color: white;
    color: red;
    transition: 0.4s;
}