@charset "UTF-8";

body{
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    margin: auto;
    height: 50vh;
    width: 500px;
    background-color: #505050;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    min-width: 400px;
}

a#link{
    text-decoration: none;
    background-color: #222222;
    color: green;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    left: 26%;
}

a#link:hover{
    background-color: white;
    color: green;
    transition-duration: 0.3s;
    transform: translate(-4px, -4px);
}

p#num-d{
    text-align: center;
    position: absolute;
    left: 17%;
    top: 60%;
}

a{
    text-decoration: none;
    background-color: #222222;
    color: green;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

a#link-d:hover{
    background-color: white;
    color: green;
    transition-duration: 0.3s;
    transform: translate(-10px, -10px);
}