@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #292929;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div.container{
    width: 500px;
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 10px;
    height: 144vh;
    top: 3%;
    left: 50%;
    bottom: 3%;
    transform: translate(0%, 2%, 2%);
}

h1.obg{
    text-align: center;
}

h1.obg::after{
    content: '';
    background-color: blueviolet;
    display: block;
    height: 2px;
    width: 500px;
    color: white;
}

h2{
    text-align: center;
}

p#link{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

a.back{
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

div.card{
    height: 190px;
    width: 200px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
    float: left;
    margin-left: 35px;
}

div.card p.img{
    text-align: center;
}

div.card img{
    margin-top: 20px;
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

div.card h3{
    text-align: center;
    color: white;
}

div.card h3::after{
    content: '';
    display: block;
    background-color: blueviolet;
    width: 200px;
    height: 2px;
    color: white;
}